* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
}

body,
input,
textarea,
button {
  font-weight: 400;
  font-size: 1rem;
}

button {
  cursor: pointer;
}
